
  

  <div class="container">
    <h1 class="text-capitalize text-center bg-info text-white p-3">
      To do list task using Services
    </h1>
    <div class="row my-5">
      <div class="col-md-6">
        <app-formpassenger></app-formpassenger>
      </div>
      <div class="col-md-6">
        <app-todopssengerlist></app-todopssengerlist>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-6">
        <app-stdform></app-stdform>
      </div>
      <div class="col-md-6">
        <app-stdtable></app-stdtable>
      </div>
    </div>
  </div>

  
