
<!-- {{todo | json}} -->

    
        
            <ul class="list-group bg-info">
                <li class="list-group-item bg-light" *ngFor="let todo of todos">
                {{todo.name}}
                <span class="float-right">
                    <button class="btn btn-info mx-1 ">Edit</button>
                    <button class="btn btn-danger" (click)="ondelet(todo.id)">Delete</button>
                
                </span>
                </li>
                </ul>
        
    

